<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.abtion.blog.mappers.CommentMapper">
    <insert id="createComment" useGeneratedKeys="true" keyProperty="id" parameterType="cn.abtion.blog.domain.Comment">
        INSERT INTO comments(id, essay_id, user_id, content, create_at)
        VALUES (#{id}, #{essayId}, #{userId}, #{content}, #{createAt})
    </insert>
    <select id="getCommentsByEssayId" resultType="cn.abtion.blog.domain.Comment">
        SELECT comments.user_id,comments.id,comments.essay_id,comments.content,comments.create_at, users.name as user_name, users.avatar as user_avatar
        from comments
        LEFT JOIN users
        ON comments.user_id = users.id
        WHERE comments.essay_id = #{essayId}
        ORDER BY comments.create_at DESC
    </select>
    <delete id="deleteComment">
        DELETE FROM comments WHERE id = #{id}
    </delete>
</mapper>