<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.abtion.blog.mappers.EssayViewNumMapper">
    <insert id="createEssayViewNum" useGeneratedKeys="false" keyProperty="essayId" parameterType="cn.abtion.blog.domain.EssayViewNum">
        INSERT INTO essay_view_nums(essay_id, view_num)
        VALUES (#{essayId}, #{viewNum})
    </insert>
    <update id="updateEssayViewNum" parameterType="cn.abtion.blog.domain.EssayViewNum">
        FROM essay_view_nums SET
        view_num = #{viewNum}
    </update>

</mapper>